<h1>Add A New Actor</h1>

  <form action="http://localhost:3000/add_actor">
    <div>
      <label for="name">Name</label>
      <input placeholder="Enter a name here:" name="the_name" type="text" id="name">
    </div>

    <div>
      <label for="dob">D.O.B.</label>
      <input name="the_dob" type="text" id="dob">
    </div>

    <div>
      <label for="bio">Description</label>
      <textarea name="the_bio" id="biography">
      </textarea>
    </div>

    <div>
      <label for="picture">Image URL</label>
      <input name="the_image_url" type="text" id="picture">
    </div>

    <div>
      <input type="submit" value="Create Actor">
      or <a href="index.html">Cancel</a>
    </div>
  </form>
